*.o
__pycache__
bin/reset
compile_commands.json
src/bgr
src/rsvgtest
src/splcd
src/t_*_x
src/*.so*
spacelcd.py
spacelcd_wrap.cxx
src/splcdcmd
.deps
AUTHORS
COPYING
ChangeLog
INSTALL
aclocal.m4
*cache
*config*
m4
missing
ltmain.sh
NEWS
compile
depcomp
install-sh
README
